/*.row{
	border: 1px solid #E2EA03;
}

.columns{
	border: 1px solid #FA0000;
}*/

a:hover, a:active{
	background: none;
	border: none;
}

body{
	/*background: #CFE109*/
}

.spaceblue{
	min-height:  1.5rem!important;
	background: #162573; 
	/*background: #000a7b; */
}

.sticky {
  position: absolute;
  z-index: 99!important;
}

#ancla_quesonpuntos,
#ancla_registro-section,
#ancla_beneficion-section{
	display: block;
  position: relative;
  top: -136px;
  visibility: hidden;
}


.menuc-row{
	height: auto;
}

#menu-container{
	background-image: url('../images/backgroundnav.png');
	min-height: 10rem;	
	width: 100%;
	background-size: cover;  
	background-position: center;
}

#logotipo{
	margin: .2rem 0 0 8rem;
	width: 290px;
	position: absolute;
	z-index: 2;
}

#burger-menu i{
	color: #000A7B;
	font-size: 1.8rem;
}


#menuppal{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 1px 6px #0C0B0B;
	height: 100%;
}

#menuppal li{
	min-height: 10rem;		
	padding-top: 3rem;	
}


#menuppal ul li a{
	text-align: center;
	line-height: 1.5rem;
	color: #ffffff;
	display:table-cell;
  vertical-align:middle;
  padding: 10px;
  outline: none;
}

#menuppal ul li a:active{	
  /*outline: none;*/
}



.activa {
	background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0088cd, #274B8D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0088cd, #274B8D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px -3px 25px #131414;
}

.inactiva{
	border-left: 2px solid #FFFFFF;
}


.solapa{
	background-image: url('../images/solapa.svg');
	width: 158px;
	background-repeat: no-repeat;
	top: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;	
	font-style: italic;	
}

.solapa a{
	text-decoration: none;
	cursor: pointer;
	color: #FFFFFF;
	display: block;
}

#orbit-container{
	margin: 0;
	padding: 0;
}


.sombraizquierda
{
  position: relative;
}
.sombraizquierda:before
{
  z-index: -0;
  position: absolute;
  content: "";
  bottom: 15px;
  left: -8px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(3, 3, 3, 0.35);
  box-shadow: 0 30px 25px rgba(3, 3, 3, 0.35);
  transform: rotate(-6deg);
}

.sombraderecha
{
  position: relative;
}
.sombraderecha:before
{
  z-index: -0;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 3px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(3, 3, 3, 0.35);
  box-shadow: 0 30px 25px rgba(3, 3, 3, 0.35);
  transform: rotate(4deg);
}

.orbit{
	box-shadow: 0 11px 25px rgba(3, 3, 3, 0.65);
}

#quesonpuntos{
	background-image: url('../images/banner-desktop-queson.jpg');
	height: 35rem;
  background-size: cover;
  background-position: top center;
}

.left-column-queson{
	padding-top: 9.5rem!important;
}

.righ-column-queson{
	padding-top: 5rem!important;
}

.enum-queson{
	background-image: url('../images/cinta-uno.png');
	background-size: cover;
  background-position: top center;
  height: 22rem;

  padding: 2.5rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 6px #0C0B0B;
}

#registro-section{
	background-image: url('../images/background-registro.jpg');
	height: 30rem;
  background-size: cover;
  background-position: top center;
}

.right-column-ins{
	padding-top:8rem!important;
}

.left-column-ins{
	padding-top:2rem!important;
}


.enum-inscripcion{
	background-image: url('../images/cinta-dos.svg');
	background-size: cover;
  background-position: top center;
  height: 25rem;
  padding: 7rem 1rem 1rem 4rem;


  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 6px #0C0B0B;
}

#botonins{
	width: 7rem;
	#83A316
}

#comoreg{
	width: 24rem;
}


#beneficion-section{
	background-image: url('../images/background-core-beneficios.png');
	height: 37rem;
  background-size: cover;
  background-position: top center;
  padding-top: 2rem;
}


.left-beneficios{
	padding-top: 12rem;

}

.right-beneficios{
	padding-top: 2rem;
}

#beneficiosimg{
	width: 16rem;
}


.enum-beneficios{
	background-image: url('../images/cinta-tres.svg');
	background-size: cover;
  background-position: top center;
  height: 28rem;


  padding: 7rem 1rem 1rem 4rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 6px #0C0B0B;
}

#terminoslogo{
	width: 2rem;
}

#terminos{
	padding: 1rem 0;
	background: #0D2580;
}

#tituloterminos{
	margin: 0 15px;
}

.terminos-content{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;	
	font-size: 1.5rem;
}
	.terminos-content a{
		text-decoration: none;
		cursor: pointer;
		color: #ffffff;			
	}
	.terminos-content a:hover{
		text-shadow: 1px 3px 2px #3D3D3D;
	}



/*MEDIA QUERIES*/




/*Default Media Queries Foundation*/
/* Small only */
@media screen and (max-width: 39.9375em) {
	
	#logotipo{
		margin: .2rem 0 0 1.6rem;
		width: 220px;			
	}

	#menu-container{	
		background-position: left;	
	}


	#burger-menu{
		padding: 4rem 0.45rem 0 0;
	}

	#quesonpuntos{	
		background-image: url('../images/fondoquesondos.png');
		background-position: center!important;
	}

	.left-column-queson{
			padding-top: 1.5rem!important;							
	}

	#queson{
		margin: 0;
		/*margin-bottom: 1rem;*/
		width: 15rem;
		text-align: center;
		display: block;
    margin-left: auto;
    margin-right: auto;

	}

	#quesonpuntos .medium-6{
		flex: 0 0 100%;
    max-width: 100%;
	}

	.righ-column-queson{
		padding-top: 2rem!important;
	}

	.enum-queson {
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
    padding: 1rem;
    height: 20rem;
	}
	
	#registro-section .medium-5,
	#registro-section .medium-7{
		flex: 0 0 100%;
		max-width: 100%;
	}	
	
	.right-column-ins	{
		padding-top: 1.5rem!important;
		order: 1!important;
	}

	#comoreg{
		width: 17rem;
	}

	.left-column-ins {
		order: 2!important;
		padding-top: 1rem!important;
	}

	.enum-inscripcion{
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
		background:  rgba(17, 31, 140, 0.7);
    padding: .9rem;
    height: 24rem;
    font-size: .92rem; 
	}

	#beneficion-section .medium-4,
	#beneficion-section .medium-8{
		flex: 0 0 100%;
		max-width: 100%;		
	}	

	.left-beneficios{
		padding-top: 1rem;
	}

	.right-beneficios{
		padding: 0.3rem;
	}

	#beneficiosimg{
		width: 15rem;
	}
	
	.enum-beneficios{
		background-image: none;
		height: 22rem;
		background: rgba(18, 47, 143, .7);
	  padding: 0.4rem 1rem 0rem 0.5rem;	 
	  font-size: .82rem; 
	}

}



/*Custom media Query*/
@media screen and (min-width: 40em) and (max-width: 47.375em) {
	
	#menu-container{		
		background-position: left;
	}	

	#logotipo{
		margin: .2rem 0 0 1.6rem;
		width: 220px;		
	}
	
	#menuppal, .solapa , #rowmenu{
		display: none;
	}

	#burger-menu{
		display: flex!important;
		justify-content: flex-end!important;
		padding: 4rem 0.75rem 0 0;
	}
	

	/*#head-container .medium-5,
	#head-container .medium-7{
		flex: 0 0 16.66667%!important;
    max-width: 16.66667%!important;
	}*/

	#quesonpuntos{	
		background-image: url('../images/fondoquesondos.png');
		background-position: center!important;
	}

	.left-column-queson{
			padding-top: 1.5rem!important;							
	}

	#queson{
		margin: 0;
		/*margin-bottom: 1rem;*/
		width: 15rem;
		text-align: center;
		display: block;
    margin-left: auto;
    margin-right: auto;

	}

	#quesonpuntos .medium-6{
		flex: 0 0 100%;
    max-width: 100%;
	}

	.righ-column-queson{
		padding-top: 2rem!important;
	}

	.enum-queson {
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
    padding: 2.5rem;
    height: 15rem;
	}

	#registro-section .medium-5,
	#registro-section .medium-7{
		flex: 0 0 100%;
		max-width: 100%;
	}	
	
	.right-column-ins	{
		padding-top: 1.5rem!important;
		order: 1!important;
	}

	#comoreg{
		width: 17rem;
	}

	.left-column-ins {
		order: 2!important;
		padding-top: 1rem!important;
	}

	.enum-inscripcion{
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
		background:  rgba(17, 31, 140, 0.7);
    padding: 2.1rem;
    height: 23rem;
	}


	#beneficion-section .medium-4,
	#beneficion-section .medium-8{
		flex: 0 0 100%;
		max-width: 100%;		
	}	

	.left-beneficios{
		padding-top: 1rem;
	}

	#beneficiosimg{
		width: 15rem;
	}
	
	.enum-beneficios{
		background-image: none;
		height: 18rem;
		background: rgba(18, 47, 143, .7);
	  padding: 1rem 1rem 1rem 1rem;	  
	}



}


/*Custom media Query*/
@media screen and (min-width: 47.376em) and (max-width: 59.125em) {
	
	#menu-container{		
		background-position: left;
	}	

	#logotipo{
		margin: .2rem 0 0 1.6rem;
		width: 220px;		
	}

	#contenedor-menu .align-center{
		justify-content: flex-start;
	}

	#menuppal ul li a{
		padding: 10px 5px;
	}

	.solapa{
		background-image: url('../images/solapados.svg');
		width: 80px;
		background-repeat: no-repeat;
		font-size: .90rem;
		text-align: center;
	}

	.solapa a{
		margin-left: 5px;
	}

	#quesonpuntos{	
		background-image: url('../images/fondoquesondos.png');
		background-position: center!important;
	}

	#beneficion-section{
		background-position: left;
	}

	.enum-inscripcion{
		padding: 3.5rem 0.5rem 0.5rem 2rem;
	}

	.right-beneficios{
		padding-top: 0.9rem;
	}

	.enum-beneficios{
		background-image: url('../images/cinta-tresb.svg');
		background-size: cover;
	  background-position: top center;
	  height: 29rem;

	  padding: 4.5rem 1rem 1rem 2rem;
	  
	}

}


/* Medium and up */
@media screen and (min-width: 40em) {

	#menu-container{		
		/*background-position: left;*/
	}
	
	#quesonpuntos{		
	  background-position: left;
	}

}



/* Medium only */
@media screen and (min-width: 59.126em) and (max-width: 63.9375em) {
	
	#logotipo{
		margin: .2rem 0 0 4rem;
		width: 260px;
		position: absolute;
		z-index: 2;
	}

}

/* Large and up */
@media screen and (min-width: 64em) {


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

	#logotipo{
		margin: .2rem 0 0 3.5rem;
		width: 250px;		
	}

	#quesonpuntos{		
	  background-position: left
	}
}