/*.row{
	border: 1px solid #E2EA03;
}

.columns{
	border: 1px solid #FA0000;
}*/


a:hover, a:active{
	background: none;
	border: none;
}

body{
	/*background: #CFE109*/
}

.spaceblue{
	min-height:  1.5rem!important;
	background: #162573; 
	/*background: #000a7b; */
}

.sticky {
  position: absolute;
  z-index: 99!important;
}

#ancla_quesonpuntos,
#ancla_registro-section,
#ancla_beneficion-section{
	display: block;
  position: relative;
  top: -136px;
  visibility: hidden;
}


#linkmap{
	text-decoration: none;
	color: #FFFFFF;
}

.menuc-row{
	height: auto;
}

#menu-container{
	background-image: url('../images/backgroundnav.png');
	min-height: 10rem;	
	width: 100%;
	background-size: cover;  
	background-position: center;
}

#logotipo{
	margin: .2rem 0 0 8rem;
	width: 290px;
	position: absolute;
	z-index: 2;
}

#burger-menu i{
	color: #000A7B;
	color: #FFFFFF;
	font-size: 1.8rem;
}


#menuppal{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 1px 6px #0C0B0B;
	height: 100%;
}

#menuppal li{
	min-height: 10rem;		
	padding-top: 3rem;	
}


#menuppal ul li a{
	text-align: center;
	line-height: 1.5rem;
	color: #ffffff;
	display:table-cell;
  vertical-align:middle;
  padding: 10px;
  outline: none;
}

#menuppal ul li a:active{	
  /*outline: none;*/
}

.activa {
	background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0088cd, #274B8D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0088cd, #274B8D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px -3px 25px #131414;
}

.inactiva{
	border-left: 2px solid #FFFFFF;
}


.solapa{
	background-image: url('../images/solapa.svg');
	width: 158px;
	background-repeat: no-repeat;
	top: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;	
	font-style: italic;	
}

#loginperfil{
	cursor: pointer;	
}

.solapa a{
	text-decoration: none;
	cursor: pointer;
	color: #FFFFFF;
	display: block;
}

#orbit-container{
	margin: 0;
	padding: 0;
}


.sombraizquierda
{
  position: relative;
}
.sombraizquierda:before
{
  z-index: -0;
  position: absolute;
  content: "";
  bottom: 15px;
  left: -8px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(3, 3, 3, 0.35);
  box-shadow: 0 30px 25px rgba(3, 3, 3, 0.35);
  transform: rotate(-6deg);
}

.sombraderecha
{
  position: relative;
}
.sombraderecha:before
{
  z-index: -0;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 3px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(3, 3, 3, 0.35);
  box-shadow: 0 30px 25px rgba(3, 3, 3, 0.35);
  transform: rotate(4deg);
}

.orbit{
	box-shadow: 0 11px 25px rgba(3, 3, 3, 0.65);
}

#calloutafiliacion{
	margin:0!important;
	padding-top: 3rem;

}

#quesonpuntos{
	background-image: url('../images/banner-desktop-queson.jpg');
	height: 35rem;
  background-size: cover;
  background-position: top center;
}

.left-column-queson{
	padding-top: 9.5rem!important;
}

.righ-column-queson{
	padding-top: 5rem!important;
}

.enum-queson{
	background-image: url('../images/cinta-uno.png');
	background-size: cover;
  background-position: top center;
  height: 22rem;

  padding: 2.5rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 6px #0C0B0B;
}

#registro-section{
	background-image: url('../images/background-registro.jpg');
	height: 30rem;
  background-size: cover;
  background-position: top center;
}

.right-column-ins{
	padding-top:8rem!important;
}

.left-column-ins{
	padding-top:2rem!important;
}


.enum-inscripcion{
	background-image: url('../images/cinta-dos.svg');
	background-size: cover;
  background-position: top center;
  height: 25rem;
  padding: 7rem 1rem 1rem 4rem;


  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 6px #0C0B0B;
}

#botonins{
	width: 8rem;
	margin-bottom: 1rem;
	display: block;
	
}

#comoreg{
	width: 24rem;
}


#beneficion-section{
	background-image: url('../images/background-core-beneficios.png');
	height: 37rem;
  background-size: cover;
  background-position: top center;
  padding-top: 2rem;
}


.left-beneficios{
	padding-top: 12rem;

}

.right-beneficios{
	padding-top: 2rem;
}

#beneficiosimg{
	width: 16rem;
}


.enum-beneficios{
	background-image: url('../images/cinta-tres.svg');
	background-size: cover;
  background-position: top center;
  height: 28rem;


  padding: 7rem 1rem 1rem 4rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 6px #0C0B0B;
}

#terminoslogo{
	width: 2rem;
}

#terminos{
	padding: 1rem 0;
	background: #0D2580;
	background: #1d3672;
}

#tituloterminos{
	margin: 0 15px;
}

.terminos-content{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;	
	font-size: 1.5rem;
}
	.terminos-content a{
		text-decoration: none;
		cursor: pointer;
		color: #ffffff;			
	}
	.terminos-content a:hover{
		text-shadow: 1px 3px 2px #3D3D3D;
	}

.off-canvas{
	background: #2E588B;
	background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #162573, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #162573, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.close-button a{
	padding-bottom: 4rem!important;
}

.close-button:hover, .close-button:focus {
    color: #FFFFFF;
  }

#offCanvas ul{
	margin-top: 3rem;
}

#offCanvas ul li {
	padding: .2rem 0;
	border-bottom: 1px solid #D5D6DF;
}

#offCanvas ul li a{
	color: #FFFFFF!important;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3rem;
}

.close-button{
	color: #FFFFFF;
}

.activaOffCanvas{
	background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #8BB3E8;   
}

#offCanvas ul li.activaOffCanvas > a{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #000000!important;
}


/*Pagina Inscripcion*/
legend{
	background: #EFF3F8!important;
}

.patologias label{
	color: #1D1D1D!important;
	font-weight: normal!important;
}

#patologia-div [type='checkbox'], [type='radio']{
	zoom: 1.3;	
	font-family: 'Open Sans', sans-serif;
	
}


.title-section{
	background:  #125FBF;
	/*border: 2px solid #125FBF;*/
	color: #FFFFFF;
	/*color: #125FBF;*/
	border-radius: 3px;
	padding: .6rem .2rem .6rem 1.5rem;
	margin-bottom: 1rem;
}

.title-section h6{
	margin: 0;
}

.info{
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
	color: #125FBF;
	font-size: 1rem;
	font-weight: bold;
}

#ocupacion label,
#estudios label,
#nucleo-familia label,
#hijos-cont label,
#patologia-div label
{
	color: #212121!important;
	font-weight: normal!important;
	display:inline-block!important;      
	margin-right: 2rem;
}
#ocupacion [type='radio'],
#estudios [type='radio'],
#hijos-cont [type='checkbox'],
#patologia-div [type='checkbox']{
	zoom:1.5;
	margin: 0;
	padding:0;
	vertical-align:middle; 
}

#estudios, 
#nucleo-familia,
#recomienda, 
#hijos-cont{
	margin-top: 1.3rem;	
}

#patologias-content{
	margin-top: 1.2rem;
}

#form-content p{
	margin-bottom: 0.9rem;
}
#agregar-miembro,
#agregar-referido{
	color:#ffffff;
	background: #3F7FD5;
	padding: 0.5rem;
}

.labelRange{
	border:0; 
	color:#0434A2; 
	font-weight:bold;
	display: inline-block;
}

.miembro-class{
	margin-bottom: 1.5rem;
}
#form-content .miembro-class label{
	margin-right: 0.9rem!important;
}

.miembro-class select{
	margin-bottom: 0!important;
}

.ui-dialog .ui-dialog-buttonpane { 
    text-align: center!important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none!important;
}

#contenedor-familia thead{
	background: #98C4FF;
	color: #3E3E3E;

}

.ui-dialog-titlebar{
	background: #98C4FF!important;
}

#cuerpotabla [type='text']{
	border: none!important;
	padding: 0;
	margin: 0;
	background: none;
	box-shadow: none;
	max-width: 9rem;
	height: 1.2rem;
}

.busqueda{
	background: #CBDDBF;
	margin-bottom: 1rem;
}
.busqueda label{
	color: #4A7F26!important;
}

#buscar-button{
	margin-bottom: 0;
	min-width: 7rem;
	background: #3C9600!important;
}

#buscar-button:hover{
	background: #307402!important;
}

#m-busqueda{
	display: inline-block;
	vertical-align: middle!important;
	margin-left: 1rem!important;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.688rem;
  margin: 0 0 1.3rem;
  padding: 0.7rem;
  border: 3px solid #BFBFBF;
  border-radius: 2px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: normal;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus, select:focus {
    outline: none;
    border: 3px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #CACACA;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

 select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.688rem;
  margin: 0 0 1.3rem;
  /*padding: 0.4rem;*/
  border: 3px solid #BFBFBF;
  border-radius: 2px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: normal;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#body-inscripciones{
	background: #EFF3F8;
}

#street1, #street1-valor,
#street2, #street2-valor,
#barrio, #ciudad{
	margin-bottom: 0.55rem;
}

.direccion{
	margin-bottom: 5rem!important;
	color: #737373;
}

#form-content{
	margin-top: 1.5em;
}

#form-content label{
	color: #125FBF;
	font-size: 1rem;
	font-weight: bold;
}


#inscripcion-content{
	background: #EFF3F8;
	padding-bottom: 6rem;
}

#inscripcion-title{
	color: #0A3D84;
	font-family: 'Open Sans', sans-serif;
	margin-top: 3.5rem;
	font-weight: bold;
	text-align: center;
}

#revision-title{
	color: #4A7F26;
	font-family: 'Open Sans', sans-serif;
	margin-top: 3.5rem;
	font-weight: bold;
	text-align: center;
}

#guardar-button.button{
	background: #10528F!important;
}
.alert{
	background: #F4545B!important;
}
#cancelar-button{
	margin-right: 1rem;
}

#checkboxterminos, #hijos {
	zoom:1.5;
	margin: 0; 
}

#leyendaterminos{
	font-size: 1.15rem;
	font-weight: normal;	
	cursor: pointer;
}


label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.buttonsrow{
	margin-top: 1rem;
}

.is-invalid-label {
  color: #c60f13!important; }


/*Pagina Terminos y condiciones*/

#condiciones{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	padding-top: 3rem;
	padding-bottom: 2rem;
}

#condiciones-content{
	margin-bottom: 5rem;	
}

#condiciones-content h3{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;	
}

#titulocondi{
	padding-top: .5rem!important;
}

.close-button{
	color: #152103;
}

.callout.warning {
    background-color: #FCDE64;
    color: #0a0a0a;
}

.callout.alert {
    background-color: #F7C1C1!important;
    color: #0a0a0a;
}

.callout.success {
    background-color: #D2F5B7;
    color: #0a0a0a;
}

/****Spinner****/

#spinner{
	z-index: 4;
	position: absolute;
	background: rgba(63, 107, 163, 0.75);
	/*background: linear-gradient(to bottom, rgba(0, 136, 205, 0.75), rgba(39, 75, 141, 0.75));*/
	background: rgba(255, 255, 255, 0.3);	
	/*border:1px solid red;*/
	width: 100%;
	height: 60%;
	padding-top: 6rem;
	border-radius: 5px;
}
#spinner2{
	z-index: 10;
	position: absolute;
	background: rgba(63, 107, 163, 0.75);
	/*background: linear-gradient(to bottom, rgba(0, 136, 205, 0.75), rgba(39, 75, 141, 0.75));*/
	background: rgba(255, 255, 255, 0.2);	
	/*border:1px solid red;*/
	width: 100%;
  height: 240%;
	padding-top: 100rem;
	border-radius: 5px;

}

.loader,
.loader:after {
  border-radius: 50%;
  width: 15em;
  height: 15em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.6);
  border-right: 1.1em solid rgba(255, 255, 255, 0.6);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.6);
  border-left: 1.1em solid #ffffff;
  border-left: 1.1em solid #116BAA;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.blur-me {
 		filter: blur(10px);
	}
.blur-me2 {
		transition: 0.25s -webkit-filter linear;
 		filter: blur(14px) ;
	}


/****Login****/

.container_14xz0pw {
    position: fixed !important;
    z-index: 2000 !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    overflow-y: auto !important;
    webkit-transform: translate3d(0,0,0) !important;
}

.innerContainer{
	display: table !important;
  height: 100% !important;
  width: 100% !important;
  background: rgba(0, 0, 0, 0.65) !important;
  background: rgba(120, 120, 120, 0.65)!important;
  /*background: rgba(35, 108, 194, 0.55)!important;*/
}

.paddingcontainer{
	padding: 8rem 0;
}

#login-section{	
	padding: 5rem 0 8rem 0;
}

#calloutLoginAlert{
	padding: 0.65rem;	
	
}
#calloutLoginAlert h6{
	margin-bottom: 0;
}
#closeloginc{
	font-size: 1.65rem!important;
}


.login-main{
	/*border: 1px solid #808080;*/
	border-radius: 7px;
	box-shadow: 0px 1px 15px #2E2E2E;
	/*min-height: 10rem;
	min-width:  35rem;
	*/	
 background: #eff3f8;
}

.closeicon{
	background: #1c3672;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-top: 15px;
}

#iconocerrar,
#iconocerrarlogin-olvido{
	cursor: pointer;
}

#banda-login{
	padding-bottom: 1rem 1rem 0 1rem;
	background: #1c3672;
	color: #FFFFFF;
	text-align: center;
	
}

.basic{
  background: #eff3f8;
  height: 4px;
}

.loaderlogin {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.loaderlogin:before{
	display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #155BF9;
  animation: loadingf 2s linear infinite;
}

@keyframes loadingf {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

#form-login{
	margin-top: 0.8rem;
	padding: 0 .8rem;
}

.login-main label{
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
}

#documentologin,
#password{
	border: 2px solid #BFBFBF;
	margin-bottom: .85rem!important;
}

#recordarme{
	zoom:1.8;
	margin:0 0 0 1rem;
}

#mostrar-clave label{
	display: inline-block!important;
}

#mostrar-clave p{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #FF3573;
	font-size: 0.95rem;
	font-weight: bold;	
	padding-top: 4px;
	cursor: pointer;
}


#iniciar-sesion{
	background: #274B8D;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin: 0.85rem 0;
}

#iniciar-sesion:hover{
	background: #0088cd;
}

#recordarme-content label{
	display: inline-block!important;	
	font-size: 1rem;
}
#recordarme-content [type="checkbox"]{	
	vertical-align: middle!important;	
	padding: 0.2rem!important;	
}

.olvido-cont{
	display: flex;
}

#olvidocontrasenia{
	font-family: 'Open Sans', sans-serif;
	color: #FF3573;
	text-align: center;
	cursor: pointer;
	display: inline-block;	
}


#olvidocontrasenia a{ 	
	font-size: 1.05rem;
	color: #FF3573;	
	vertical-align: middle;
}
#olvidocontrasenia-content hr{ 
	margin: 0.8rem 0!important;
}
#olvidocontrasenia p, #olvidocontrasenia{ 
	margin-bottom: 0rem!important;
}

#creacuenta{
	font-family: 'Open Sans', sans-serif;
	text-align: center;	
	color: #535353;
	font-size: 1.1rem;
}
#creacuenta a{
	font-weight: bold;
	color: #FF3573;
}

#creacuenta a:hover {
	text-shadow: 0 0 3px rgba(255, 51, 112, 0.4);
}

/*recuperar clave*/
#recuperarClave{
	background: #274B8D;
	font-size: 1.1rem;
}

.banda-recuperar{
	padding-bottom: 1rem;
	background: #1c3672;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 1rem;
}

.banda-recuperar h3{
	margin-bottom: 0!important;
}

.volver-sesion{
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-family: 'Open Sans', sans-serif;
}

#volver-sesion{
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
	color: #FF3573;	
	padding-top: 0.4em;
	cursor: pointer;
}


#rowlogin{
	margin-right: 5px;
}

/**********CSS PARA PERFIL**********/

#perfil-offcanvas{
	margin-top: 3rem;

}

#exit-offcanvas,
#login-offcanvas{
	margin-bottom: 1.2rem;
	cursor: pointer;
}

#exit-offcanvas h5,
#login-offcanvas h5 {
	display: inline-block;
	font-size: 1.2rem;
	margin-left: 15px;
}

#exit-offcanvas i,
#login-offcanvas i {	
	font-size: 1.4rem;
	margin-left: 15px;
}

#perfil-offcanvas .etiquetaafiliado{
	text-align: center;
}

#exit-offcanvas,
#login-offcanvas{
	position: absolute;
	bottom: 0;
	color: #ffffff;
}

.divider {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 18px 0 46px;}


#perfilmenu{
	/*border: 1px solid peru;*/
	padding: 0 1rem;
}

.exit{
	margin-right: 3rem;
	color: #ffffff;
	display: block;
	/*border:1px solid red;*/
	padding-top: 4rem;
}

.exit i{
	vertical-align: middle!important;	
	font-size: 2rem;
	padding-left: 0.4rem;
	display: inline-block;
	cursor: pointer; 
}

.exit i:hover{
	text-shadow: 0 0 8px #02319B!important;
	color: #DEEDF2;
}

.mnperfilo{
	width: 7rem;
}

#menuppal ul li.mnperfilo a {
	margin: 0 auto!important;
	text-align: center!important;
	display: block;

}

#fotoperfilmenu{
	border: 1px solid #CFCFCF;
	border-radius: 50%;
	width: 3rem!important;
	height: 3rem!important;
	margin-top: 1.5rem;
	overflow: hidden!important;

}

#fotoperfilmenu img{
	display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.etiquetaafiliado{
	color: #fff;
	margin-bottom: 3px;
}

#puntosafmenu{
	padding: 0.3rem!important;
	width: 6rem;
	height: 2rem;
	margin: 0 auto;
	text-align: center!important; 
}

#puntosafmenu:read-only{
	background: #fff;
}


#perfil-seccion-container{
	min-height: 100vh; /*ocupa todo el contenedor (A)*/ 
	background: #0098DA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #284B8C, #20ABE8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #284B8C, #20ABE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	/*background-image: linear-gradient(90deg,#c074b2,#8ab5e8);*/    /*Spotify*/
}

#backmain{
	background-image: url(../images/gridbackground.png);
  /*background-size: 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; /*ocupa todo el contenedor (A)*/
  background-position: center;
	/*max-height: 50%!important;*/

	/*background-image: linear-gradient(transparent,#000);*/     /*Spotify*/
}

#container-perfil{
	padding-top: 4rem;	
}

#fieldsetperfil{
	border: 2px solid #fff!important;
	border-radius: 25px 0 0 25px;
	padding: 0rem 3rem 2rem 3rem;

}

#legendperfilmain{
	background: none!important;
	padding: .7rem;
	border: 2px solid #fff;
	border-radius: 10px;
	background: linear-gradient(to top, #38568F, #0098DA)!important; 
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;
}


#fotoperfilmain{
	border: 1px solid #C4C4C4;
	border-radius: 50%;
	width: 12rem!important;
	height: 12rem!important;
	margin-top: 1.5rem;
	overflow: hidden!important;
}

#imgperfilmain{

}

.tituloestcuenta{
	text-align: center;
	margin:0 auto;
	max-width: 15rem;
	border: 1px solid red;
	background: #FF0000;
	border-radius: 10px;
	vertical-align: middle;
	color: #fff;
	padding: .25rem 0;
}
.tituloestcuenta h5{
	margin:0!important;
}

.detalleestado{
	height: 11rem;
	margin-top: 10px;
	overflow: auto;
}

.detalleestado input{
	padding: 0.3rem!important;
	/*width: 6rem;*/
	height: 2rem;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center!important; 
}

#fieldsetultmov{
	margin-top: 2rem;
	margin-bottom: 3rem;
	border:2px solid #7FC8EA;
	border-radius: 25px 0 0 25px!important;
	max-width: 60%;
	padding: 1rem;
	/*overflow: hidden;*/
}

#legendultmov{
	background: none!important;
	margin: 0;
	margin-left: 5rem;	
	background: #B2B2B2!important;
	padding: 0.55rem 2rem;
	border-radius: 10px;
	font-size: 1.1rem;
	color: #024F97;
	font-weight: bold;
	/*overflow: hidden!important;*/
}

#innerutlmov{
	/*max-width: 95%;*/
	display: block;
}
#tablacontainer{
	background: #EEEEEE;
	padding: 1rem!important;
	max-width: 95%;
	min-height: 15rem;
	border-radius: 15px;
	
}

#container-misdatos{
	padding-top: 4rem;	
}

#column-misdatos{
	border: 10px solid #00B4FF;
	border-radius: 25px;
	padding: 1.5rem;
	box-shadow: 0 0 0 4px rgba(6, 121, 209, 0.8);
	background: #FFFFFF;
	margin-bottom: 3rem; 
}

.content-input{
	margin-bottom: 1rem;
}

#misdatos-contentform label{
	display: inline-block;
  width: 140px;
  text-align: right;
  color: #000A7B;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
#misdatos-contentform [type='text'],
#misdatos-contentform [type='password'], 
#misdatos-contentform [type='date'], 
#misdatos-contentform [type='month'], 
#misdatos-contentform [type='week'], 
#misdatos-contentform [type='email'], 
#misdatos-contentform [type='number'], 
#misdatos-contentform [type='search'], 
#misdatos-contentform [type='tel'], 
#misdatos-contentform [type='time'], 
#misdatos-contentform [type='url'], 
#misdatos-contentform [type='color'],
#misdatos-contentform textarea,
#misdatos-contentform select {
  display: inline!important;
  box-sizing: border-box;
  width: 65%!important;
  height: 2.2rem;
  margin:0;
  padding: 0.7rem;
  border: none;
  border-radius: 7px;
  background-color: #E6E6E6;
 }
#misdatos-contentform select {
  padding: 0.1rem 0.1rem 0.1rem 0.4rem!important;  
  
  }

#misdatos-contentform [type='text']:focus, 
#misdatos-contentform [type='password']:focus, 
#misdatos-contentform [type='date']:focus, 
#misdatos-contentform [type='datetime']:focus, 
#misdatos-contentform [type='datetime-local']:focus, 
#misdatos-contentform [type='month']:focus, 
#misdatos-contentform [type='week']:focus, 
#misdatos-contentform [type='email']:focus, 
#misdatos-contentform [type='number']:focus, 
#misdatos-contentform [type='search']:focus, 
#misdatos-contentform [type='tel']:focus, 
#misdatos-contentform [type='time']:focus, 
#misdatos-contentform [type='color']:focus,
#misdatos-contentform textarea:focus, #misdaots-contentform select:focus {
    outline: none;
    border: 3px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #99CFF1;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

button#fotoperfil-button{
	background: #1CB5E0!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1CB5E0, #094D86)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1CB5E0, #094D86)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-left: 4px;
  font-family: 'Barlow Condensed', sans-serif;
}

button#actperfil-button{
	background: #F00000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 0.3em 2em;
	border-radius: 8px;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.3rem;
}

/**mis puntos**/


#container-mispuntos{
	padding-top: 4rem;	
}

#column-mispuntos{
	border: 3px solid #CDCDCD;
	border-radius: 25px;
	padding: 1em 0.3rem 0.3rem 0.3rem; 
	margin-bottom: 2rem;  
}

.titulo-mispuntos{
	display: inline-block;
	/*z-index: 90;*/
	margin: -20% 20%;
	position: relative;
	top: -40px!important;

}
.titulo-mispuntos img{
	margin-left: 50px;
	
}

.tiulotexto{
	margin-left: 80px;
}

.mispuntos{
	background: #F5F5F5;
	margin: -7% 0 0 0;
	border-radius: 25px;
	padding: 1rem 3rem;
}

.content-input-puntos{
	border-bottom:  2px solid #0080D9;
}

#container-detalle-puntos{
	padding-top: 2rem;
}

#container-detalle-puntos:last-child{
	margin-bottom: 2rem;
}


#container-detalle-puntos label{
	text-align: center!important;
	line-height: 25px;
	display: inline-block;
  width: 140px;
  text-align: right;
  color: #000A7B;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}
#container-detalle-puntos [type='text'],
#container-detalle-puntos [type='password'], 
#container-detalle-puntos [type='date'], 
#container-detalle-puntos [type='month'], 
#container-detalle-puntos [type='week'], 
#container-detalle-puntos [type='email'], 
#container-detalle-puntos [type='number'], 
#container-detalle-puntos [type='search'], 
#container-detalle-puntos [type='tel'], 
#container-detalle-puntos [type='time'], 
#container-detalle-puntos [type='url'], 
#container-detalle-puntos [type='color'],
#container-detalle-puntos textarea,
#container-detalle-puntos select {
  display: inline!important;
  box-sizing: border-box;
  width: 45%!important;
  height: 2.2rem;
  margin:5px 0 10px 10px;
  padding: 0.7rem;
  border: none;
  border-radius: 2px;
  background-color: #CFCFCF;
  text-align: center;
 }







/*************MEDIA QUERIES****************

/*Default Media Queries Foundation*/
/* Small only */
@media screen and (max-width: 39.9375em) {

	#spinner2{
		height: 560%;
		padding-top: 230rem;
	}
	
	#logotipo{
		margin: .2rem 0 0 1.6rem;
		width: 180px;			
	}


	#menu-container{	
		background-position: left;
		min-height: 8rem!important;	
	}

	.sticky-container{
		height: 8rem!important;
	}
	
	#ancla_quesonpuntos,
	#ancla_registro-section,
	#ancla_beneficion-section{
		display: block;
		position: relative;
		top: -100px;
		visibility: hidden;
	}

	#burger-menu{
		padding: 3.4rem 0.45rem 0 0;
	}

	#quesonpuntos{	
		background-image: url('../images/fondoquesondos.png');
		background-position: center!important;
	}

	.left-column-queson{
			padding-top: 1.5rem!important;							
	}

	#queson{
		margin: 0;
		/*margin-bottom: 1rem;*/
		width: 15rem;
		text-align: center;
		display: block;
    margin-left: auto;
    margin-right: auto;

	}

	#quesonpuntos .medium-6{
		flex: 0 0 100%;
    max-width: 100%;
	}

	.righ-column-queson{
		padding-top: 2rem!important;
	}

	.enum-queson {
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
    padding: 1rem;
    height: 20rem;
	}
	
	#registro-section .medium-5,
	#registro-section .medium-7{
		flex: 0 0 100%;
		max-width: 100%;
	}	
	
	.right-column-ins	{
		padding-top: 1.5rem!important;
		order: 1!important;
	}

	#comoreg{
		width: 17rem;
	}

	.left-column-ins {
		order: 2!important;
		padding-top: 1rem!important;
	}

	.enum-inscripcion{
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
		background:  rgba(17, 31, 140, 0.7);
    padding: .9rem;
    height: 24rem;
    font-size: .92rem; 
	}

	#beneficion-section .medium-4,
	#beneficion-section .medium-8{
		flex: 0 0 100%;
		max-width: 100%;		
	}	

	.left-beneficios{
		padding-top: 1rem;
	}

	.right-beneficios{
		padding: 0.3rem;
	}

	#beneficiosimg{
		width: 15rem;
	}
	
	.enum-beneficios{
		background-image: none;
		height: 22rem;
		background: rgba(18, 47, 143, .7);
	  padding: 0.4rem 1rem 0rem 0.5rem;	 
	  font-size: .82rem; 
	}

	#tituloterminos{
		margin: 0 15px;
		font-size: 1.1rem!important;
	}	



	#login-section{	
		padding: 2rem 0 2rem 0;
	}

	#form-login{
		padding: 0!important;	
	}

	#recordarme-content label{
		font-size: 0.95rem;
	}
	#recordarme-content [type="checkbox"]{
		zoom:1.5;
	}
	#mostrar-clave p{
		font-size: 0.85rem;
	}


}


/*Custom media Query*/
@media screen and (min-width: 40em) and (max-width: 47.375em) {
	
	.sticky-container{
		max-height: 9rem!important;	
	}

	#menu-container{	
		background-position: left;
		max-height: 8rem!important;	
	}

	#logotipo{
		margin: .2rem 0 0 1.6rem;
		width: 220px;		
	}
	
	#menuppal, .solapa , #rowmenu{
		display: none;
	}

	#burger-menu{
		display: flex!important;
		justify-content: flex-end!important;
		padding: 3.4rem 0.75rem 0 0;
	}
	
	#quesonpuntos{	
		background-image: url('../images/fondoquesondos.png');
		background-position: center!important;
	}

	.left-column-queson{
			padding-top: 1.5rem!important;							
	}

	#queson{
		margin: 0;
		/*margin-bottom: 1rem;*/
		width: 15rem;
		text-align: center;
		display: block;
    margin-left: auto;
    margin-right: auto;
	}

	#quesonpuntos .medium-6{
		flex: 0 0 100%;
    max-width: 100%;
	}

	.righ-column-queson{
		padding-top: 2rem!important;
	}

	.enum-queson {
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
    padding: 2.5rem;
    height: 15rem;
	}

	#registro-section .medium-5,
	#registro-section .medium-7{
		flex: 0 0 100%;
		max-width: 100%;
	}	
	
	.right-column-ins	{
		padding-top: 1.5rem!important;
		order: 1!important;
	}

	#comoreg{
		width: 17rem;
	}

	.left-column-ins {
		order: 2!important;
		padding-top: 1rem!important;
	}

	.enum-inscripcion{
		background-image: none;
		background:  rgba(40, 132, 218, 0.7);
		background:  rgba(17, 31, 140, 0.7);
    padding: 2.1rem;
    height: 23rem;
	}

	#beneficion-section .medium-4,
	#beneficion-section .medium-8{
		flex: 0 0 100%;
		max-width: 100%;		
	}	

	.left-beneficios{
		padding-top: 1rem;
	}

	#beneficiosimg{
		width: 15rem;
	}
	
	.enum-beneficios{
		background-image: none;
		height: 18rem;
		background: rgba(18, 47, 143, .7);
	  padding: 1rem 1rem 1rem 1rem;	  
	}
	#tituloterminos{
		margin: 0 15px;
		font-size: 1.3rem!important;
	}		

	#login-section{	
		padding: 2rem 0 2rem 0;
	}

	#form-login{
		padding: 0!important;	
	}

	#recordarme-content label{
		font-size: 1rem;
	}
	#recordarme-content [type="checkbox"]{
		zoom:1.5;
	}
	#mostrar-clave p{
		font-size: 0.88rem;
	}

	#backmain{
		background-image: url(../images/gridbackground.png);
	  /*background-position: cover!important;*/
	  background-size: cover;
	  /*background: red;*/
	}
	
	#misdatos-contentform label{
	  text-align: center;
	}
	
	#misdatos-contentform [type='text'],
	#misdatos-contentform [type='password'], 
	#misdatos-contentform [type='date'], 
	#misdatos-contentform [type='month'], 
	#misdatos-contentform [type='week'], 
	#misdatos-contentform [type='email'], 
	#misdatos-contentform [type='number'], 
	#misdatos-contentform [type='search'], 
	#misdatos-contentform [type='tel'], 
	#misdatos-contentform [type='time'], 
	#misdatos-contentform [type='url'], 
	#misdatos-contentform [type='color'],
	#misdatos-contentform textarea,
	#misdatos-contentform select {	  
	  width: 100%!important;	  
	  background-color: #E6E6E6;	  
 }




}


/*Custom media Query*/
@media screen and (min-width: 47.376em) and (max-width: 59.125em) {
	
	#menu-container{		
		background-position: left;
	}	

	#logotipo{
		margin: .2rem 0 0 1.6rem;
		width: 220px;		
	}

	#contenedor-menu .align-center{
		justify-content: flex-start;
	}

	#menuppal ul li a{
		padding: 10px 5px;
	}

	.solapa{
		background-image: url('../images/solapados.svg');
		width: 80px;
		background-repeat: no-repeat;
		font-size: .90rem;
		text-align: center;
	}

	.solapa a{
		margin-left: 5px;
	}

	#quesonpuntos{	
		background-image: url('../images/fondoquesondos.png');
		background-position: center!important;
	}

	#beneficion-section{
		background-position: left;
	}

	.enum-inscripcion{
		padding: 3.5rem 0.5rem 0.5rem 2rem;
	}

	.right-beneficios{
		padding-top: 0.9rem;
	}

	.enum-beneficios{
		background-image: url('../images/cinta-tresb.svg');
		background-size: cover;
	  background-position: top center;
	  height: 29rem;
	  padding: 4.5rem 1rem 1rem 2rem;
	}

	#tituloterminos{
		margin: 0 15px;
		font-size: 1.3rem!important;
	}	

	#form-login{
		padding: 0!important;	
	}

	#recordarme-content label{
		font-size: 1rem;
	}
	#recordarme-content [type="checkbox"]{
		zoom:1.5;
	}
	#mostrar-clave p{
		font-size: 0.95rem;
	}

	#perfilmenu{
		display: none;
	}


	#misdatos-contentform label{
	  text-align: center;
	}
	
	#misdatos-contentform [type='text'],
	#misdatos-contentform [type='password'], 
	#misdatos-contentform [type='date'], 
	#misdatos-contentform [type='month'], 
	#misdatos-contentform [type='week'], 
	#misdatos-contentform [type='email'], 
	#misdatos-contentform [type='number'], 
	#misdatos-contentform [type='search'], 
	#misdatos-contentform [type='tel'], 
	#misdatos-contentform [type='time'], 
	#misdatos-contentform [type='url'], 
	#misdatos-contentform [type='color'],
	#misdatos-contentform textarea,
	#misdatos-contentform select {	  
	  width: 100%!important;	  
	  background-color: #E6E6E6;
 }

}

/*Custom media Query*/
@media screen and (min-width: 40.000em) and (max-width: 53.688em) {

	.titulo-mispuntos img {
    margin-left: 20px;
	}
	 #container-detalle-puntos [type='text'], 
	 #container-detalle-puntos [type='password'], 
	 #container-detalle-puntos [type='date'], 
	 #container-detalle-puntos [type='month'], 
	 #container-detalle-puntos [type='week'], 
	 #container-detalle-puntos [type='email'], 
	 #container-detalle-puntos [type='number'], 
	 #container-detalle-puntos [type='search'], 
	 #container-detalle-puntos [type='tel'], 
	 #container-detalle-puntos [type='time'], 
	 #container-detalle-puntos [type='url'], 
	 #container-detalle-puntos [type='color'], 
	 #container-detalle-puntos textarea, 
	 #container-detalle-puntos select {
    display: inline!important;
    box-sizing: border-box;
    width: 100%!important;
    height: 2.2rem;
    margin: 5px 0 10px 0px;
    padding: 0.7rem;
    border: none;
    border-radius: 2px;
    background-color: #E6E6E6;
    text-align: center;
	}

}



/*Custom media Query*/
@media only screen and (max-width : 486px) {
	#misdatos-contentform label{
	  text-align: center;
	}
	
	#misdatos-contentform [type='text'],
	#misdatos-contentform [type='password'], 
	#misdatos-contentform [type='date'], 
	#misdatos-contentform [type='month'], 
	#misdatos-contentform [type='week'], 
	#misdatos-contentform [type='email'], 
	#misdatos-contentform [type='number'], 
	#misdatos-contentform [type='search'], 
	#misdatos-contentform [type='tel'], 
	#misdatos-contentform [type='time'], 
	#misdatos-contentform [type='url'], 
	#misdatos-contentform [type='color'],
	#misdatos-contentform textarea,
	#misdatos-contentform select {	  
	  width: 100%!important;	  
	  background-color: #E6E6E6;	 
 }

 .titulo-mispuntos img {
    margin-left: 15px;
	}
	 #container-detalle-puntos [type='text'], 
	 #container-detalle-puntos [type='password'], 
	 #container-detalle-puntos [type='date'], 
	 #container-detalle-puntos [type='month'], 
	 #container-detalle-puntos [type='week'], 
	 #container-detalle-puntos [type='email'], 
	 #container-detalle-puntos [type='number'], 
	 #container-detalle-puntos [type='search'], 
	 #container-detalle-puntos [type='tel'], 
	 #container-detalle-puntos [type='time'], 
	 #container-detalle-puntos [type='url'], 
	 #container-detalle-puntos [type='color'], 
	 #container-detalle-puntos textarea, 
	 #container-detalle-puntos select {
    display: inline!important;
    box-sizing: border-box;
    width: 100%!important;
    height: 2.2rem;
    margin: 5px 0 10px 0px;
    padding: 0.7rem;
    border: none;
    border-radius: 2px;
    background-color: #E6E6E6;
    text-align: center;
	}

	#burger-menu i {
    color: #FFFFFF;
    color: #000A7B;
    font-size: 1.8rem;
	}

}


/* Medium and up */
@media screen and (min-width: 40em) {

	#menu-container{		
		/*background-position: left;*/
	}
	
	#quesonpuntos{		
	  background-position: left;
	}

}



/* Medium only */
@media screen and (min-width: 59.126em) and (max-width: 63.9375em) {
	
	#logotipo{
		margin: .2rem 0 0 4rem;
		width: 260px;
		position: absolute;
		z-index: 2;
	}

	#perfilmenu{
		display: none;
	}

}

/* Large and up */
@media screen and (min-width: 64em) {

	
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

	#logotipo{
		margin: .2rem 0 0 3.5rem;
		width: 250px;		
	}

	#quesonpuntos{		
	  background-position: left;
	}

	#perfilmenu{
		display: none;
	}


	
}



.degradeTransparente{
	    background: linear-gradient(to right,#fff 0,rgba(255,255,255,.85) 70%,rgba(255,255,255,.01) 100%);
}