/*
.row{
	border: 2px solid yellow;
}
.columns{
	border: 1px solid #ED3E3E;
}*/

.spaceblue{
	min-height:  1.5rem!important;
	background: #162573; 
	/*background: #000a7b; */
}

.menuc-row{
	height: auto;
}

#menu-container{
	background-image: url('../images/backgroundnav.png');
	min-height: 10rem;	
	width: 100%;
	background-size: cover;  
	background-position: center;
}

#logotipo{
	width: 390px;
	padding: 0.5rem 0 0 3rem;
	position: absolute;
	z-index: 2;
}

#menuppal{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 1px 6px #0C0B0B;
	height: 100%;
}

#menuppal li{
	min-height: 10rem;		
	padding-top: 3rem;	
}


#menuppal ul li a{
	text-align: center;
	line-height: 1.5rem;
	color: #ffffff;
	display:table-cell;
  vertical-align:middle;
  padding: 10px;
}

.activa {
	background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0088cd, #274B8D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0088cd, #274B8D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px -3px 25px #131414;
}


.inactiva{
	border-left: 2px solid #FFFFFF;
}


.solapa{
	background-image: url('../images/solapa.svg');
	width: 163px;
	background-repeat: no-repeat;
	top: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;	
	font-style: italic;	
}








#quesonpuntos{
	padding: 80px;
	background: #000a7b;
}


/*MEDIA QUERIES*/
/* Smartphones (portrait)  */
/*@media only screen and (max-width : 321px){
	#logotipo{
		width: 300px!important;
		padding: 0 0 0 0;
		position: relative!important;
	}

	#menu-container{	
		min-height: 6rem!important;		
		background: red;	
		background-position: left;	
	}
}*/

/*Default Media Queries Foundation*/
/* Small only */
@media screen and (max-width: 39.9375em) {
	#logotipo{
		width: 220px!important;
		padding: 0 0 0 0;
		position: relative!important;
	}

	#menu-container{	
		min-height: 6rem!important;				
		background-position: left;	
	}

}

/* Medium and up */
@media screen and (min-width: 40em) {

	#menu-container{		
		background-position: left;
	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}